<section class="intro">
   <div class="container">
      <div class="intro__text">
         <h1 class="h1">Powering total delivery choice</h1>
         <p class="intro__subtitle">Smart, simple to use tech that constantly evolves to meet the demands of the delivery process.</p>
         <a href="#" class="btn">Talk to us</a>
      </div>
   </div>
   <a href="#" class="js-scroll-down">SCROLL</a>
</section>