.delivery {
   position: relative;
   background-color: $dark-bg;
   padding: 40px 0 30px;
   color: #fff;
   @media(min-width: 380px){
      padding: 60px 0 30px;
   }
   @media(min-width: 767px){
      padding: 80px 0 60px;
   }
   .container {
      @media(max-width: 767px){
         max-width: 454px;
      }
   }
   &__row {
      padding-top: 10px;
   }
   &__item {
      position: relative;
      margin-bottom: 8px;
      margin-bottom: 30px;
      @media(min-width: 767px){
         text-align: center;
         margin-bottom: 10px;
      }
   }
   &__overlay {
      top: 0;
      left: 0;
      width: 100%;
      // height: 100%;
      max-height: 0;
      overflow: hidden;
      transition: .4s;
      @media(min-width: 767px){
         background-color: transparent;
         max-height: 100%;
      }
      & > p {
         font-weight: 300;
         font-size: em(17);
         padding-bottom: 1.3em;
         padding-top: 1.1em;
         @media(min-width: 767px){
            padding-top: 0;
         }
      }
   }
   &__toggle {
      position: absolute;
      right: 7px;
      top: 50%;
      transform: translateY(-50%);
      width: 32px;
      height: 32px;
      background-color: #262b34;
      cursor: pointer;
      z-index: 1;
      display: none;
      @media(max-width: 767px){
         display: inline-block;
      }
      &:before {
         content: '';
         position: absolute;
         top: 5px;
         left: 9px;
         display: inline-block;
         width: 15px;
         height: 15px;
         border-bottom: 3px solid #f9b411;
         border-right: 3px solid #f9b411;
         transform: rotate(45deg);
         transition: .4s;
      }
   }
}
.delivery__mobil-title {
   font-size: em(30);
   padding-top: 0.3em;
   padding-bottom: 0.1em;
   letter-spacing: -.02em;
   transition: .4s;
   @media(max-width: 767px){
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      background-color: #a4b6c8;
      line-height: 1.2;
      padding: 7px 35px;
      text-align: center;
      text-transform: uppercase;
      font-size: em(24);
      &:hover {
         background-color: #f9b411;
      }
   }
}
.show .delivery__mobil-title {
   @media(max-width: 767px){
      background-color: #f9b411;
   }
}
.show .delivery__overlay {
   max-height: 600px;
   transition: .4s;
}