/*==========================
	intro-section
===========================*/
.intro {
	position: relative;
	padding: 160px 0 15px;
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-image: url(../img/hero-mob.jpg);
	min-height: 70vh;
	@media(min-width: 360px) {
		padding: 240px 0 50px;
	}
	@media(min-width: 670px) {
		background-image: url(../img/hero.jpg);
		background-position: 83% center;
	}
	@media(min-width: 1024px) {
		min-height: 99.4vh;
	}
	@media(min-width: 1200px) {
		padding: 190px 0 60px;
	}
	&__text {
		max-width: 430px;
		text-align: center;
		color: #fff;
		.btn {
			margin: 20px auto;
			display: inline-block;
			width: auto;
			min-width: 170px;
		}
		@media(max-width: 991px) {
			font-size: 0.81em;
			margin: auto;
		}
	}
	&__subtitle {
		font-size: em(24);
		line-height: 1.33;
		letter-spacing: -0.2px;
	}
}
.js-scroll-down {
	display: inline-block;
	position: absolute;
	bottom: 25px;
	left: 50%;
	font-size: 14px;
	letter-spacing: .02em;
	transform: translateX(-50%);
	color:  $muted;
	text-shadow: 0  0 20px rgba(17,17,17,.4);
	&:hover {color: $warning;}
	@media(max-width: 991px) {
		font-size: 0;
	}
	@media(max-width: 550px) {
		display: none;
	}
	&:after {
		content: '';
		display: block;
		width: 30px;
		height: 34px;
		margin: auto;
		background: url(../img/Shape.svg) center no-repeat;
	}
}