/*--- main styles ---*/
body {
	position: relative;
	color: #262b34;
	font: 18px 'basisgrotesquegro',Arial,sans-serif;
	line-height: 1.67;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}
.wrapper {
	overflow: hidden;
	position: relative;
	width: 100%;
	min-height: 100vh;
}
.container {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	max-width: 1170px;
	padding-left: 22px;
	padding-right: 22px;
	@media(min-width: 380px){
		padding-right: 15px;
		padding-left: 15px;
	}
}
.btn {
	display: block;
	width: 100%;
	min-width: 110px;
	border: none;
	text-align: center;
	white-space: nowrap;
	background-color: #f9b411;
	color: #fff;
	padding: 15px 9px;
	font-size: 22px;
	font-family: inherit;
	line-height: 1.1;
	&:hover {background-color: #fcbe23;}
	@media(min-width: 380px){
		margin: 4px auto 0;
		max-width: 298px;
	}
	&--sm {
		max-width: 192px;
		padding: 11px 8px;
		@media(min-width: 380px){
			margin: 0;
		}
	}
	&--default {
		background-color: #a4b6c8;
	}
}
.text-center {
	text-align: center;
}
.h1 {
	font-size: em(48);
	line-height: 1.08;
	letter-spacing: -0.2px;
	padding-bottom: 0.6em;
}
.h2 {
	font-size: em(32);
	padding-bottom: .4em;
	line-height: 1.2;
	letter-spacing: -.01em;
	@media(min-width: 670px){
		padding-bottom: .9em;
	}
}
.h3 {
	font-size: em(25);
	padding-bottom: .5em;
	line-height: 1.2;
	@media(min-width: 380px){
		font-size: em(28);
	}
	@media(min-width: 670px){
		padding-bottom: .8em;
	}
}
.icon {
	width: 48px;
	height: 42px;
	display: inline-block;
	background-repeat: no-repeat;
	background-position: center;
}