<header class="top">
	<div class="container">
		<div class="logo">
			<a class="logo__link" href="index.html">
				<img src="img/logo.png" alt="logo">
			</a>
		</div>
		<nav class="navbar navbar-default">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#expand" aria-label="Menu">
					<i class="icon-bar"></i>
					<i class="icon-bar"></i>
					<i class="icon-bar"></i>
				</button>
			</div>
			<!-- nav -->
			<div id="expand" class="collapse navbar-collapse">
				<ul id="justify" class="nav navbar-nav">
					<li><a class="nav__link" href="#">Partners</a></li>
					<li><a class="nav__link" href="#">Carriers</a></li>
					<li><a class="nav__link" href="#">Solutions</a></li>
					<li><a class="nav__link" href="#">About</a></li>
					<li><a class="nav__link" href="#">Contacts</a></li>
					<li><a class="nav__link btn btn--lg" href="#">Login</a></li>
				</ul>
			</div>
		</nav>
	</div>
</header>